@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Ephesis&family=Great+Vibes&family=Gwendolyn:wght@700&family=Sarala&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    
}

header{
    background-color: #efd2be;
    
}

.logo{
    float: right;
    padding-top: 10px;

}
 
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    
    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.redes {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
    font-size: 0.8rem;
      
}


.nav-bar{
    display: flex;
    justify-content: center;
    gap: 15px;
    
    
}

body{
    background-color: #f5f5f5;
    font-size: 100%;
    font-family: 'Sarala', sans-serif;
 
 }

 .rodape {
    border-top: 1px solid whitesmoke;
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    justify-content: space-around;
    background-color: #efd2be;
    width: 100%;
    padding: 10px 0;
    text-align: left;
 }

 .tiposPagamentos {
    display: flex;
    justify-content: space-evenly;
  }
  
  .tiposRedesSociais {
    display: flex;
    justify-content: space-evenly;